@import "tailwindcss";

body {
  background: #111;
  color: #000;
}

input {
  color: white;
}

.MuiTextField-root input {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.MuiTextField-root label {
  color: rgba(255, 255, 255, 0.5);
}
